<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mái ấm truyền tin</title>
   <environment include="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MaiAmTruyenTin.styles.css" asp-append-version="true" />
        <!-- animate CSS-->
        <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
        <!-- Icons CSS-->
        <link href="~/template/assets/css/icons.css" rel="stylesheet" type="text/css" />
        
   </environment>
   <style>
        /* Floating buttons */
        .floating-buttons {
            position: fixed;
            right: 10px;
            bottom: 40px;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            .floating-buttons a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border: 1px solid #ddd;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                box-shadow: 0 2px 6px rgba(0,0,0,0.1);
            }

            .floating-buttons img {
                width: 24px;
                height: 24px;
            }
   </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="logo.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TinTuc" asp-action="Index">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GioiThieu" asp-action="Index">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NhaTaiTro" asp-action="Index">Nhà tài trợ</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DangKyTinhNguyen" asp-action="Index">Đăng ký tình nguyện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Donate" asp-action="Index">Quyên góp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="LichSuKien" asp-action="Index">Lịch sự kiện</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <!-- Floating buttons -->
        <div class="floating-buttons">
            <a href="#"><img width="32" height="32" src="~/template/icons/phone.webp" alt="Call" loading="lazy" decoding="async"></a>
            <a href="#"><img width="32" height="32" src="~/template/icons/messenger.png" alt="Messenger" loading="lazy" decoding="async"></a>
            <a href="#"><img width="32" height="32"  src="~/template/icons/communication.png" alt="Facebook" loading="lazy" decoding="async"></a>
            <a href="#"><img width="32" height="32"  src="~/template/icons/icon-zalo-1.png" alt="Zalo" loading="lazy" decoding="async"></a>
            <a href="javaScript:void();" class="back-to-top" style="display: none;"><i class="fa fa-angle-double-up"></i> </a>
        </div>
        <p>© 2025 Mái ấm truyền tin. All rights reserved.</p>
    </footer>
   
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/template/assets/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/template/assets/js/app-script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)   

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $(window).on("scroll", function () {
                if ($(this).scrollTop() > 300) {
                    $('.back-to-top').fadeIn();
                } else {
                    $('.back-to-top').fadeOut();
                }
            });

            $('.back-to-top').on("click", function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
                
    </script>
</body>
</html>
