html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}
/*News*/
.news-section {
    background: linear-gradient(135deg, #cce7ff, #e6f2ff);
    padding: 40px 20px;
}

.news-title {
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 20px 0;
}

.news-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

    .news-card img {
        height: 150px;
        object-fit: cover;
    }

.news-card-body {
    padding: 8px;
}

.news-card-date {
    font-size: 13px;
    color: #888;
    margin-bottom: 8px;
}

.news-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

/*Side bar Tin tức*/
.sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

    .sidebar h5 {
        margin-top: 30px;
        font-weight: bold;
    }

.recent-posts img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.recent-posts .post-title {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.recent-posts small {
    color: #888;
}


/*search btn*/
.search-input {
    border-radius: 5px 0 0 5px;
}

.search-btn {
    border-radius: 0 5px 5px 0;
}