@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>File Explorer</title>
    <style>
        body {
            font-family: Arial;
            padding: 10px;
        }

        .file-list {
        }

        .file-item {
            margin: 10px;
            text-align: left;
        }

            .file-item img {
                max-width: 120px;
                max-height: 120px;
                border: 1px solid #ccc;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <h3>Chọn ảnh</h3>
    <div id="browseFile" class="file-list">
        @foreach (var file in ViewBag.fileInfo)
        {
            <div class="file-item">
                <div class="row">
                <img src="@Url.Content("~/uploads/" + file.Name)" title="@file.Name" alt="thumb" />
                   
                <div>@file.Name</div>
                    <hr />
                </div>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            var funcNum = '@Context.Request.Query["CKEditorFuncNum"]';
            $("#browseFile img").click(function () {
                var fileUrl = '/uploads/' + $(this).attr('title');
                window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                window.close();
            });
        });
    </script>
</body>
</html>
