@{
    ViewData["Title"] = "Giới thiệu trung tâm";
}
<html lang="vi">
<meta charset="utf-8" />
<head>
    <style>
        .banner {
            background: url('@Url.Content("~/template/images/desktop_bg.png")') no-repeat center;
            background-size: cover;
            padding: 100px 0;
            color: whitesmoke;
            text-align: center;
        }

            .banner h1 {
                font-size: 36px;
            }
    </style>
    </head>
<body>

    <main>
        <section class="banner  w-100">
            <div class="container">
                <h1 style="color: #02ba5a">JobFinder- Tiếp lợi thế, nối thành công</h1>
                <p>Với hệ sinh thái HR Tech, JobFinder luôn đồng hành để bạn thành công trong sự nghiệp</p>
            </div>
        </section>
    </main>

</body>
</html>
